/*The below is taken from: https://www.w3schools.com/howto/howto_js_snackbar.asp */

#crx_toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 200px; /* Set a default minimum width */
    max-width: 400px;
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 15px 30px; /* Padding */
    position: fixed; /* Sit on bottom of the screen */
    z-index: 1000000; /* Add a z-index if needed */
    right: 50px;
    top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#crx_toast.show {
    visibility: visible;

    /* Add animation: Take 0.5 seconds to fade in and out the toast.
    However, delay the fade out process for 2.5 seconds */
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the toast in and out */
@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}
